<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>org.myjerry.docbox.web.filters.AuthenticationFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>cheekoServlet</servlet-name>
		<servlet-class>org.myjerry.docbox.web.FrontControllerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cheekoServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
